@page "/"

<h1>
    "Olá..."
</h1>
<h3>
    "Bem vindo a aplicação da sua prova"
    "Como está sendo a prova?"!
</h3>
   


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
